// Colors
$black: #000000;
$white: #F8F0E3;

// Surfaces
$primaryLight: #A5C9CA;
$primaryMedium: #395B64;
$primaryDark: #2C3333;

// Secondary
$secondaryLight: $white;
$secondaryMedium: #EAC333;
$secondaryDark: #E6B609;

// Info
$infoLight: #56B4E9;
$infoMedium: #0072B2;
$infoDark: #00304c;

// Warning
$warningLight: #F0E442;
$warningMedium: #E69F00;
$warningDark: #E46500;

// Error
$errorMedium: #C72A44;

$purple: #AC2AC7;


:export {
    white: $white;
    black: $black;
    purple: $purple;
    primaryLight: $primaryLight;
    primaryMedium: $primaryMedium;
    primaryDark: $primaryDark;
    primaryText: $white;
    secondaryLight: $secondaryLight;
    secondaryMedium: $secondaryMedium;
    secondaryDark: $secondaryDark;
    warningLight: $warningLight;
    warningDark: $warningDark;
    warningMedium: $warningMedium;
    infoLight: $infoLight;
    infoMedium: $infoMedium;
    infoDark: $infoDark;
    errorMedium: $errorMedium;
}